<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body class="bodyf">
    <footer>
        <hr />
        <p class="sign">Russian Roulette by Xan Delayat</p>
    </footer>

    <style>
        .hr {
            border: none;
            border-top: 1px solid var(--border-color);
            margin: 20px 0;
        }

        .sign {
            font-family: 'Arial', sans-serif;
            font-size: 14px;
            color: #ffffff;
            margin-top: 10px;
        }

    </style>

</body>
</html>