<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body class="bodyh">
    <nav class="navbar">
        <p class="p1">Russian Roulette |</p>
        <a href="https://github.com/xandelayat64", target="_blank">My GitHub</a>    
    </nav>

    <style>
        .p1 {
            margin-left: 20px;
            color: #FFFFFF;
        }

        a {
            color: #FFFFFF;
            margin-left: 5px;
        }

        .navbar {
            align-items: center;
            background: linear-gradient(90deg, #ff1105, #ff501f);
            height: 50px;
            display: flex;
            font-family: 'Arial', sans-serif;
            font-size: 20px;
            width: 100%;
        }
    </style>
</body>
</html>